src/MessageReceiver.Worker/bin
src/MessageReceiver.Worker/obj
src/MessageSender/obj
src/MessageSender/bin
tests/MessageServiceUnitTests/bin
tests/MessageServiceUnitTests/obj
IaC/.terraform
.vs/
.git/
src/Services/bin
src/Services/obj